<h1>Edit Pett</h1>
<%= form_with model: @pett do |form| %>
<p>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  </p>
  <p>
  <div>
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>
  </p>
  <p>
  <div>
    <%= form.label :image %>
    <%= form.text_field :image %>
  </div>
  </p>
  <div>
    <%= form.submit %>
  </div>
<% end%>